@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as *;

.slide-out {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    top: -100%;
    transition: all 1000ms ease;

    @include mx.flex-center;
    flex-direction: column;
}