$primary-dark: #303131;
$secondary-yellow: #F0EA6E;

@font-face {
    font-family: "red-rose";
    src: url("/fonts/Red_Rose/RedRose-VariableFont_wght.ttf");
}

@font-face {
    font-family: "almari-regular";
    src: url("/fonts/Almarai/Almarai-Regular.ttf");
}