$primary-dark: #303131;
$secondary-yellow: #F0EA6E;

$button-bg-code-vibe: #86E9D633;

$color-blue: #2BB1FF;
$color-blue-dark: #097FC5;
$color-orange: #F58E39;
$color-orange-dark: #EA6900;

$gaming-theme: #294F60;
$project-theme: #1E7594;
$food-theme: #F3832D;

@font-face {
    font-family: "red-rose";
    src: url("/fonts/Red_Rose/RedRose-VariableFont_wght.ttf");
}

@font-face {
    font-family: "almari-regular";
    src: url("/fonts/Almarai/Almarai-Regular.ttf");
}

@font-face {
    font-family: "figtree";
    src: url("/fonts/Figtree/Figtree-VariableFont_wght.ttf");
}

@font-face {
    font-family: "KleeOne";
    src: url("/fonts/Klee_One/KleeOne-Regular.ttf");
}

@font-face {
    font-family: "Orbitron";
    src: url("/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Delius_Unicase";
    src: url("/fonts/Delius_Unicase/DeliusUnicase-Bold.ttf");
}