@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as *;

.body-board {
    font-family: "red-rose", sans-serif;
    @include mx.flex-center;
    flex-direction: column;
    justify-content: flex-start;
}

.header-board {
    margin-top: 41px;
    @include mx.flex-between;
    @include mx.content-limit;
    align-items: flex-end;
    padding: 0px 112px;
    margin-bottom: 54px;
    width: calc(100% - 224px);
}

.player-section {
    @include mx.flex-center;
    gap: 16px;

    h1 {
        font-size: 26px;
        color: white;
        font-weight: 400;
    }

    img {
        height: 24px;
        width: auto;
    }
}

.player-points {
    background-color: $button-bg-code-vibe;
    padding: 17px 20px;
    display: flex;
    gap: 20px;
}

.player {
    @include mx.flex-center;
    gap: 4px;
    font-size: 24px;

    img {
        height: 24px;
        width: auto;
    }
}

.blue {
    color: $color-blue;
}

.orange {
    color: $color-orange;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;
}

.grid-big {
    grid-template-columns: repeat(6, 0fr);
}

.card {
    height: 120px;
    width: 120px;
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &__inner {
        position: relative;
        height: 120px;
        width: 120px;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face {
        position: absolute;
        height: 120px;
        width: 120px;
        inset: 0;
        backface-visibility: hidden;

        &--back {
            transform: rotateY(180deg);
        }

    }

    &.flip-card .card__inner {
        transform: rotateY(180deg);
    }
}

.player-blue {
    background-color: #1FAAFC;
    padding: 4px 8px;
    border-radius: 3px;
}

.player-orange {
    background-color: #EA6900;
    padding: 4px 8px;
    border-radius: 3px;
}

.exit-dialog {
    padding: 40px;
    justify-self: center;
    margin-top: 25%;
    border: none;

    p {
        text-align: center
    }
}

.exit-dialog[open] {
    @include mx.flex-center;
    flex-direction: column;
}