@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as *;

.body-endscreen {
    color: white;
    @include mx.justify-left;
    flex-direction: column;
    gap: 124px;
}

.header-endscreen {
    padding-top: 20%;
    img {
        display: none;
    }

    h1 {
        font-size: 124px;
    }
}

.final-score {
    font-size: 26px;
    @include mx.flex-center;
    flex-direction: column;
    gap: 24px;
}

.points-display {
    @include mx.flex-center;
    gap: 32px;
}

.display-points {
    @include mx.flex-center;
    gap: 4px;

    img {
        height: 20px;
        width: auto;
    }
}

.display-blue {
    color: $color-blue;
}

.display-orange {
    color: $color-orange;
}