@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as *;

.body-settings {
    background-color: white;
    font-family: "almari-regular", sans-serif;
}

.settings-content {
    padding-top: 114px;
    padding-left: 173px;
    padding-right: 173px;

    h1 {
        font-family: "red-rose", sans-serif;
        font-size: 54px;
        font-weight: 700;
        margin-left: 16px;
    }
}

.settings-main {
    margin-top: 64px;
    display: flex;
    justify-content: space-between
}

.settings-selection {
    @include mx.align-left;
    flex-direction: column;
    gap: 56px;
}

.settings-subtitle {
    @include mx.justify-left;
    gap: 8px;

    h2 {
        font-size: 24px;
    }
}

.all-selectors {
    @include mx.align-left;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.select-option {
    @include mx.justify-left;
    gap: 10px;
    padding-left: 44px;

    .selector {
        height: 16px;
        width: 16px;
        border: solid black 2px;
        border-radius: 50%;
    }

    p {
        font-size: 20px;
    }

    .active-selected {
        display: none;
    }

    &.selected .active-selected {
        display: block;
        width: 0px;
        height: 0px;
        border: solid black 4px;
        border-radius: 50%;
        @include mx.self-center;
        margin-top: 4px;
    }

    &:hover {
        font-weight: bold;
    }
}

.underline-container {
    display: flex;
    align-items: center;
}

.underline-block {
    width: 18px;
    height: 18px;
    background-color: $secondary-yellow;
    rotate: 45deg;
}

.underline-line {
    width: 220px;
    background-color: $secondary-yellow;
    height: 4px;
}

.underline-line-short {
    width: 60px;
    background-color: $secondary-yellow;
    height: 4px;
}

.underline-title {
    position: relative;
    top: -8px;
}

.rotate-180 {
    rotate: 180deg;
}

.preview-theme {
    display: none;
}

.current {
    display: block;
}

.user-selection {
    display: flex;
    gap: 16px;
    background-color: #F6F6F6;
    padding: 14px 20px;
    font-size: 20px;
    align-items: center;
    margin-top: 45px;

    .separator {
        width: 8px;
        background-color: $secondary-yellow;
        rotate: 20deg;
        height: 52px;
    }

    a {
        padding: 14px 20px;
        background-color: $secondary-yellow;
        font-family: "red-rose", sans-serif;
        display: flex;
        gap: 8px;
        color: black;
        text-decoration: none;
        transition: all 200ms ease;
    }

    a:hover {
        transform: scale(1.1);
        transition: all 200ms ease;
    }
}

.settings-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}