@use '../abstracts/variables' as *;

.code-vibe-points {
    padding: 17px 20px;
    background-color: #86E9D633;
    gap: 32px;
}

.code-vibe-body {
    font-family: "red-rose", sans-serif;

    & .header-endscreen img {
        display: block;
        width: 990px;
        height: auto;
    }

    & .header-endscreen h1 {
        display: none;
    }
}

.code-vibe-main-endscreen {
    p {
        font-size: 26px;
        font-weight: 400;
    }

    span {
        font-size: 24px;
        font-weight: 700;
    }


    img {
        height: 20px;
        width: auto;
    }
}

.code-vibe-overlay {
    font-family: "red-rose", sans-serif;

    p {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 54px;
    }

    & button {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    & .stay-button {
        padding: 14px 24px;
        background-color: #66CFBC;
        color: white;
        border: none;

        &:hover {
            background-color: #66CFBCB2;
            border: solid 3px #66CFBC;
            padding: 11px 21px;
        }
    }

    & .quit-button {
        padding: 12px 22px;
        background-color: #86E9D624;
        color: #4DD5BC;
        border: solid 2px #4DD5BC;

        &:hover {
            background-color: #86E9D642;
            border: solid 3px #4DD5BC;
            padding: 11px 21px;
        }

    }
}

.code-vibe-slide-out {
    background-color: #303131;
    top: 0%;

    p {
        font-weight: 400;
        font-size: 40px;
    }

    h2 {
        color: #4DD5BC;
    }

    img {
        margin: 64px 0px;
    }

    a {
        font-size: 24px;
        font-weight: 700;
        font-family: "red-rose", sans-serif;
        color: white;
        background-color: #86E9D633;
        padding: 16px 24px;
        border: solid 1px #4DD5BC;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: #86E9D642;
            border: solid 2px #4DD5BC;
            padding: 15px 23px;
        }
    }
}

.confetti {
    display: none;
    margin: 0px !important;
    position: absolute;
    top: 0px;
}

.code-vibe-blue {
    h2 {
        font-size: 60px;
        color: #2298DB;
    }
}

.code-vibe-orange {
    h2 {
        font-size: 60px;
        color: #F58E39;
    }
}

.code-vibe-draw {
    h2 {
        font-size: 128px;
        color: #4DD5BC;
    }
}