@use '../abstracts/variables' as *;

.food-points {
    background-color: #FFFFFF;
    padding: 8px 16px;
    gap: 40px;
}

.food-body {
    background-color: $food-theme;
    font-family: "KleeOne", sans-serif;

    h1 {
        color: white;
        font-size: 130px;
        font-weight: 600;
    }
}

.food-main-endscreen {
    p {
        font-size: 42px;
        font-weight: 600;
    }

    span {
        font-size: 40px;
        font-weight: 700;
    }

    img {
        height: 30px;
        width: auto;
    }

    & .display-points {
        gap: 8px;
    }

    & .display-orange {
        color: $color-orange-dark;
    }

    & .display-blue {
        color: $color-blue-dark;
    }
}

.food-body-board {
    background-color: white;
}

.food-header-board {
    background-color: #F0E5D9;
    align-items: center;
    padding: 24px;
    font-family: "KleeOne", sans-serif;

    & .player-points {
        background-color: white;
        padding: 8px 16px;
        border-radius: 10px;
        font-weight: bold;
        font-family: "Delius_Unicase", sans-serif;
    }

    h1 {
        font-size: 32px;
        font-weight: 600;
        color: #A45212;
    }

    button {
        border: solid 3px #F3832D;
        background-color: #FFF9F2;
        border-radius: 10px;
        padding: 12px 20px;
        color: #F3832D;
        font-family: "Delius_Unicase", sans-serif;
        font-size: 16px;

        p {
            align-self: center;
        }

        img {
            filter: brightness(0) saturate(100%) invert(58%) sepia(25%) saturate(1411%) hue-rotate(341deg) brightness(98%) contrast(94%);
        }
    }

    & .player-name {
        display: none;
    }
}

.food-overlay {
    font-family: "KleeOne", sans-serif;
    background-color: #F6F6F6;
    border-radius: 20px;

    p {
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        color: #A45212;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 54px;
    }

    & button {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        font-family: "KleeOne", sans-serif;
        padding: 11px 21px;
        border-radius: 10px;
        border: solid 3px #F3832D;
    }

    & .stay-button {
        background-color: #FFAB3E;
        color: white;
    }

    & .quit-button {
        background-color: #FFF9F2;
        color: #F3832D;
    }
}

.food-slide-out {
    background-color: white;
    top: 0%;
    font-family: "KleeOne", sans-serif;

    p {
        font-weight: 400;
        font-size: 40px;
        color: #F3832D;
    }

    h2 {
        font-size: 128px;
        font-weight: 600;
        color: #F3832D;
    }

    img {
        margin: 64px 0px;
        padding: 24px 30px;
        background-color: #F7E6D5;
    }

    button {
        font-size: 16px;
        font-weight: 700;
        font-family: "KleeOne", sans-serif;
        color: white;
        background-color: #F3832D;
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
}