@use '../abstracts/variables' as *;

.gaming-points {
    border-radius: 10px;
    padding: 8px 16px;
    background-color: white;
    gap: 40px;
}

.gaming-body {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    background-color: $gaming-theme;

    h1 {
        color: #ED1B76;
        font-size: 124px;
        font-weight: 900;
        letter-spacing: 7%;
    }
}

.gaming-main-endscreen {
    p {
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 7%;
    }

    span {
        font-size: 40px;
        font-weight: 700;
    }

    img {
        height: 32px;
        width: auto;
    }

    & .display-points {
        gap: 8px;
    }

    & .display-orange {
        color: $color-orange-dark;
    }

    & .display-blue {
        color: $color-blue-dark;
    }
}

.gaming-body-board {
    background-color: $gaming-theme;
}

.gaming-header-board {
    background-color: #545D75;
    align-items: center;
    padding: 24px;
    font-family: "Orbitron", sans-serif;

    & .player-points {
        background-color: white;
        padding: 8px 16px;
        border-radius: 10px;
        font-weight: bold;
    }

    h1 {
        font-size: 32px;
        font-weight: 700;
    }

    button {
        border: solid 2px #E71C4F;
        background-color: #ED1B7614;
        border-radius: 10px;
        padding: 12px 20px;
    }

    & .player-name {
        display: none;
    }
}