@use '../abstracts/variables' as *;

.DA-Project-points {
    padding: 8px 16px;
    background-color: white;
    gap: 40px;
    border-radius: 10px;
}

.DA-Project-body {
    background-color: $project-theme;
    font-family: "Figtree", sans-serif;

    h1 {
        color: #FD5B4F;
        font-size: 130px;
        font-weight: 800;
    }
}

.DA-Project-main-endscreen {
    p {
        font-size: 40px;
        font-weight: 500;
    }

    span {
        font-size: 38px;
        font-weight: 700;
    }

    h1 {
        color: #FD5B4F;
    }

    img {
        height: 30px;
        width: auto;
    }

    & .display-points {
        gap: 8px;
    }

    & .display-orange {
        color: $color-orange-dark;
    }

    & .display-blue {
        color: $color-blue-dark;
    }
}

.DA-Project-body-board {
    background-color: white;
}

.DA-Project-header-board {
    background-color: #F0F3F4;
    align-items: center;
    padding: 24px;
    font-family: "Figtree", sans-serif;

    & .player-points {
        background-color: white;
        padding: 8px 16px;
        border-radius: 10px;
        font-weight: bold;
    }

    h1 {
        font-size: 32px;
        font-weight: 700;
        color: #1E7594;
    }

    button {
        border: none;
        background-color: #BFE5F2;
        border-radius: 10px;
        padding: 12px 20px;
        color: #1E7594;
    }

    button img {
        filter: brightness(0) saturate(100%) invert(35%) sepia(92%) saturate(440%) hue-rotate(150deg) brightness(90%) contrast(85%);
    }

    & .player-name {
        display: none;
    }
}

.DA-Project-overlay {
    font-family: "Figtree", sans-serif;
    background-color: #F0F6F9;
    border-radius: 10px;

    p {
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        color: #294F60;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 54px;
    }

    & button {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        font-family: "Figtree", sans-serif;
        padding: 12px 20px;
        border: none;
        border-radius: 10px;
    }

    & .stay-button {
        background-color: #BFE5F2;
        color: #1E7594;
    }

    & .quit-button {
        background-color: #FD8A81;
        color: white;
    }
}